{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        form > * {
            width: 100%;
            font-family: Verdana, sans-serif;
        }
        select {
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            background: #079FE0;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 4px;
            font-family: Verdana, sans-serif;
        }
    </style>
{% endblock %}

{% block body %}
    <div>
        <h2 style="color: red">Achtung!</h2>
        <p>Die Englisch Kurse werden nicht angezeigt!</p>
        <h2>Haftungsausschluss</h2>
        <p>
            Dies ist ein Stundenplan-Werkzeug von Studenten für Studenten. Die Hochschule Bonn-Rhein-Sieg hat
            nichts mit dieser Seite zu tun und ich übernehme keinerlei Verantwortung für jegliche Falschangaben.
            Bei Zweifeln sollte immer der offizielle Stundenplan zu Rat genommen werden, welcher direkt unter diesem
            Paragraphen zu finden ist.
        </p>
        <p>
            <a href="https://eva2.inf.h-brs.de/stundenplan/">Offizieller von der H-BRS gegebener Stundenplan</a>
        </p>
    </div>
    <h2>Stundenplan konfigurieren</h2>
    <form>
        <label for="semester">Studiengang/Semester</label>
        <select name="semesters" id="semester">
            {% for semester in semesters %}
                <option value="{{ semester.value }}">{{ semester.name }}</option>
            {% endfor %}
        </select>
        <label for="groupNumber">Gruppe Nummer</label>
        <select name="groupNumbers" id="groupNumber">
            {% for groupNumber in groupNumbers %}
                <option value="{{ groupNumber }}">{{ groupNumber }}</option>
            {% endfor %}
        </select>
        <label for="groupLetter">Gruppe Buchstabe</label>
        <select name="groupLetters" id="groupLetter">
            {% for groupLetter in groupLetters %}
                <option value="{{ groupLetter }}">{{ groupLetter }}</option>
            {% endfor %}
        </select>
        <label for="organizer">Einführung in die Programmierung Dozent</label>
        <select name="organizers" id="organizer">
            {% for organizer in organizers %}
                <option value="{{ organizer }}">{{ organizer }}</option>
            {% endfor %}
        </select>
        </form>
    <button onclick="createTimetable()">Stundenplan erstellen</button>
    <div>
        <h3>Wie benutze ich den scheiß???</h3>
        <p>
            Wähle deinen Studiengang und Semester.
            Die Gruppen sind optional, jedoch gibt es Vorlesungen, die nur für Bestimmte Gruppen gelten
            und werden somit nicht im Stundenplan erscheinen.
            Die Links zu deinem Stundenplan sind teilbar, da dieser aus der url erstellt wird.
        </p>
        <h3>Mitwirken</h3>

        <p>
            Ich freue mich über jede Hilfe egal ob zu Design oder Funktionalität.
            Wenn du Vorschläge hast aber diese nicht selbst in die tat umsetzen kannst,
            kannst du mir auch eine Email schreiben
            <a href="https://github.com/mafejzuli/hbrs-info-timetable/blob/main/README.md">Hier</a> findest du alle Informationen zum Thema Mitwirken.
        </p>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function createTimetable () {
            const semester = document.getElementById('semester').value.replace('#', ''),
                groupNumber = document.getElementById('groupNumber').value,
                groupLetter = document.getElementById('groupLetter').value;
            let organizer = document.getElementById('organizer').value;

            if (organizer) {
                organizer = '_' + organizer
            }

            window.location.href = `/timetable/45;46;47;48;49;50;51;54;55;56;57/1-7/${semester}/${groupNumber}${groupLetter}${organizer}`;
        }
    </script>
{% endblock %}